* {
    margin: 0px;
    padding: 0px;
}



.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 80% 0% 80%;
    grid-template-areas: "header header header"
    "left main right"
    "footer footer footer";
}

header {
    background: linear-gradient(to bottom, #01192f, #607d8b);
    grid-area: header;
    align-items: center;
}

nav {
    padding-left: 50px;
    padding-top: 30px;

}

.search {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 25px;
   

    width: 300px;

}

.search-input {
    background-color: rgba(255, 255, 255, 0.623);
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 300px;
    outline: none;
    border-radius: 20px;
    margin: 5px;

}

.search-button {
    background-color:  rgba(255, 255, 255, 0);
    border: none;
    transform: translate(-37px, 2px);

}

.mid {
    display: flex;
    height: 400px;
}

#img1 {
    margin-left: 240px;
    padding-bottom: 50px;
}

#title {
    padding-top: 100px;
}

.icon {
    padding-left: 80px;
    padding-top: 7px;
    transform: translate(1250px, -50px);
}

.icon > button {
    color: white;
    background-color: #01192f00;
    border: none;
}

#left {
    grid-area: left;
    background-color: rgba(128, 128, 128, 0.457);
}

main {
    grid-area: main;
}

#right {
    grid-area: right;
    background-color: rgba(128, 128, 128, 0.457);
}

footer {
    background-color: #607d8b;
    grid-area: footer;
}