* {
    margin: 0px;
    padding: 0px;
}



.container {
    display: grid;
    grid-template-rows: 15% 70% 10%;
    grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
}

header {
    background: linear-gradient(to bottom, #01192f, rgb(96, 125, 139));
    grid-area: header;
    align-items: center;
    box-shadow: 0px 5px 15px rgb(44, 43, 43);
}

nav {
    padding-left: 50px;
    padding-top: 30px;

}

.search {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 25px;
   

    width: 300px;

}

.search-input {
    background-color: rgba(255, 255, 255, 0.623);
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 300px;
    outline: none;
    border-radius: 20px;
    margin: 5px;

}

.search-button {
    background-color:  rgba(255, 255, 255, 0);
    border: none;
    transform: translate(-37px, 2px);

}

.mid {
    display: flex;
    height: 400px;
}

#img1 {
    margin-left: 240px;
    padding-bottom: 50px;
}

#title {
    padding-top: 100px;
}

.icon {
    width: 120px;
    transform: translate(1220px,-40px);
}

.icon > button {
    color: white;
    background-color: #01192f00;
    border: none;
}

main {
    grid-area: main;
}

.info{
    padding: 100px 200px;
}

.cards {
    display: flex;
    background-color: #023059;
    height: 450px;
    margin-bottom: 50px;

    padding: 50px;
    justify-content: space-around;
    box-shadow: 2px 2px 15px gray;

}

.card {
    width: 18rem;
    box-shadow: 2px 2px 15px black;
}

.card-title {
    padding-bottom: 20px;
    padding-top: 20px;
}

.content {
    display: flex;
    background-color: green;
    margin: 15px;

    font-size: 1em;
}

footer {
    height: 250px;;
    background-color: #607d8b;
    grid-area: footer;
}

.footer {
    display: flex;
}

.column{
    width: 800px;
    height: 150px;
    padding: 40px;
    margin-left: 50px;
}

.column > h3,p {
    font-size: 0.8em;
    color: white;
}
